openapi: 3.0.0
info:
  title: Test API
  version: 1.0.0
servers:
- url: https://d5d0786vba0ja5ed6top.apigw.yandexcloud.net
security:
  - bearerAuth: [ ]
paths:
  /token:
    post:
      summary: Get Oauth token by code
      operationId: getToken
      security: 
        - {}
      requestBody:
          content:
            'application/json':
               schema:
                 type: object
                 properties:
                   code: 
                    type: string
                 additionalProperties: false
      responses:
        '200':
          description: Object with tokens
          content:
            'application/json':
               schema:
                 type: object
                 properties:
                   accessToken: 
                    type: string
                   refreshToken: 
                    type: string 
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4epbidlgeqjq9nlcu76
        service_account_id: ajefhv2s2lhfrgadpcmj
  /dummy:
    get:
      responses:
        '200':
          description: dummy
          content:
            'text/plain':
              schema:
                type: "string"
      x-yc-apigateway-integration:
        type: dummy
        http_code: 200
        http_headers:
          'Content-Type': "text/plain"
        content:
          'text/plain': "hello dummy"
  /authorize:
    get:
      summary: Authorized operation with http bearer security scheme
      operationId: httpAuthorize
      responses:
        '200':
          description: Object with auth result
          content:
            'application/json':
               schema:
                 type: object
                 properties:
                   isAuthorized: 
                    type: boolean
                   context: 
                    type: object 
      x-yc-apigateway-integration:
        type: dummy
        content:
          '*': "Authorized!"
        http_code: 200
        http_headers:
          'Content-Type': "text/plain"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-yc-apigateway-authorizer:
        type: function
        function_id: ${function_id}
        tag: "$latest"
        service_account_id: ajefhv2s2lhfrgadpcmj
        authorizer_result_ttl_in_seconds: 300